RewriteEngine on

RewriteRule .* - [env=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond $1 !^(stc/[\w-/.]+?\??.*|favicon.\w+?\??.*|apple[\w-]+?\.png\??.*|[\w-]+?\.doc\??.*|[\w-]+?\.txt\??.*)
RewriteRule ^([\s\S]*)$ index.php?__uri=$1 [L,QSA]